html {
  font-size: 62.5%; // allows easy font size calc. std font is 16px *.625 = 10px
}

body {
  font-family: 'Roboto', serif;
  font-size: 1.6rem; // set base font size to 16px, while allowing user to resize
  line-height: 1.5;
}

.text-black {
  color: black;
}

.text-black {
  color: black;
}

.text-danger {
  color: $danger;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}