.site-header {
  @include spacing-std;
  
  background-color: $tree-green;
  color: white;
  
  .logo-container {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  h1 {
    text-align: center;
    line-height: 1;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .header-nav {
    justify-content: center;
    display: flex;
    gap: 10px;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  #output {
    @include scrollbars;
    max-width: 100%;
    overflow-x: hidden !important;
    border-radius: 16px;
    background-color: $new;

    height:100px;
    width: 50%;
    padding: 4px;

    display: none;
    @include tablet {
      display: block;
    }
  }

  #user-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
