<div id="modal-user" class="modal">
  <div class="modal-content">

      <h2>User Settings</h2>

      <form id="user-settings">

      </form>

      <div class="modal-buttons">
        <a href="<%- site.url %>admin/logout" class="button button-link">Logout</a>
      </div>

  </div>
</div>