.container-svg-test {

  display: flex;
  gap: 40px;
  justify-content: center;

  .svg-overlay {
    font-size: 0;
    position: relative;
    outline: 2px solid orange;
  }

  .svg-container {

    width: 280px;
    height: 104px;

    outline: 4px dashed pink;

    svg {
      height: 100%;
      width: 100%;
    }
  }
}



.img-svg-test {
  width: 320px;
}